templates/workflows/02-cag-knowledge-base.json
{
  "name": "CAG Knowledge Base — Context Cache Builder",
  "nodes": [
    { "id": "a1000000-0000-4000-8000-000000000001", "name": "Build Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "parameters": { "httpMethod": "POST", "path": "context-build", "responseMode": "onReceived" } },
    { "id": "a1000000-0000-4000-8000-000000000002", "name": "Read Intake Bank", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [224, 0], "parameters": { "operation": "executeQuery", "query": "SELECT tenant_id, question_key, answer FROM intake_answer WHERE tenant_id = (SELECT id FROM tenant LIMIT 1)", "options": {} } },
    { "id": "a1000000-0000-4000-8000-000000000003", "name": "Compose Context Cache", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 0], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const rows = $input.all();\nconst m = {}; let tenant = null;\nfor (const it of rows) { const j = it.json; m[j.question_key] = j.answer || ''; if (!tenant) tenant = j.tenant_id; }\nconst g = (k) => (m[k] || '').trim();\nconst NL = String.fromCharCode(10);\nconst parts = ['=== BUSINESS BRIEF ===','Use only facts stated here.','','--- WHAT IT IS ---', g('a1_oneliner'),'','--- PROBLEM IT SOLVES ---', g('a2_problem'),'','--- KEY NUMBERS ---', g('a3_numbers'),'','--- ICP ---', g('b1_icp'),'','--- CONTACT & CTA ---', g('a5_cta'),'','=== END BUSINESS BRIEF ==='];\nlet prompt = ''; for (let i=0;i<parts.length;i++){ prompt += parts[i]; if (i<parts.length-1) prompt += NL; }\nreturn [{ json: { cag_block: prompt, tenant_id: tenant } }];" } },
    { "id": "a1000000-0000-4000-8000-000000000004", "name": "Publish to cag_context", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [672, 0], "parameters": { "operation": "insert", "schema": { "__rl": true, "mode": "name", "value": "public" }, "table": { "__rl": true, "mode": "name", "value": "cag_context" }, "columns": { "mappingMode": "autoMapInputData", "value": null, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "a1000000-0000-4000-8000-000000000005", "name": "Keep Latest Only", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [896, 0], "parameters": { "operation": "executeQuery", "query": "DELETE FROM public.cag_context WHERE id NOT IN (SELECT id FROM public.cag_context ORDER BY updated_at DESC LIMIT 1)", "options": {} } },
    { "id": "a1000000-0000-4000-8000-000000000006", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-560, -140], "parameters": { "color": 3, "width": 480, "height": 460, "content": "## Build an AI knowledge base with cache-augmented generation (CAG)\n\n**Who's it for**\nTeams who want an AI agent to answer from one trusted context block — a simpler, cheaper alternative to a vector DB.\n\n**How it works**\nA webhook reads a Postgres intake-answer bank, composes one structured business brief, stores the latest in cag_context, and trims to the newest.\n\n**How to set up**\n1. Add a Postgres credential to the three Postgres nodes.\n2. Create intake_answer, tenant, cag_context tables.\n3. POST to /webhook/context-build to (re)build.\n\n**Requirements**\n- A Postgres database.\n\n**How to customize**\n- Edit the sections in Compose Context Cache; point your agent at the latest cag_context row." } },
    { "id": "a1000000-0000-4000-8000-000000000007", "name": "Step note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-40, -140], "parameters": { "color": 7, "width": 940, "height": 90, "content": "### Pipeline\nRead Intake Bank → Compose Context Cache → Publish to cag_context → Keep Latest Only." } }
  ],
  "connections": {
    "Build Webhook": { "main": [[{ "node": "Read Intake Bank", "type": "main", "index": 0 }]] },
    "Read Intake Bank": { "main": [[{ "node": "Compose Context Cache", "type": "main", "index": 0 }]] },
    "Compose Context Cache": { "main": [[{ "node": "Publish to cag_context", "type": "main", "index": 0 }]] },
    "Publish to cag_context": { "main": [[{ "node": "Keep Latest Only", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
