templates/workflows/03-content-intelligence-enrichment.json
{
  "name": "Content Intelligence Enrichment (LLM + Postgres)",
  "nodes": [
    { "id": "c1", "name": "Weekly", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 112], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] } } },
    { "id": "c2", "name": "Fetch Unanalysed Items", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [224, 112], "parameters": { "operation": "executeQuery", "query": "SELECT id, source, title, body FROM content_items WHERE analysed_at IS NULL LIMIT 20", "options": {} } },
    { "id": "c3", "name": "Collect Batch", "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [448, 112], "parameters": { "aggregate": "aggregateAllItemData", "destinationFieldName": "items", "include": "allFields" } },
    { "id": "c4", "name": "Enrich & Score", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [672, 112], "parameters": { "promptType": "define", "text": "=Content items to analyse (JSON):\n{{ JSON.stringify($json.items) }}", "hasOutputParser": true, "options": { "systemMessage": "You are a content strategist. For each item assign a theme, a demand score (1-10), a gap score (1-10) and a one-line summary. Return JSON with an \"analyses\" array of {id, theme, demand_score, gap_score, summary}, one per input item, preserving the id." } } },
    { "id": "c5", "name": "LLM via OpenRouter", "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [688, 336], "parameters": { "model": "anthropic/claude-sonnet-4" } },
    { "id": "c6", "name": "Analysis Parser", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [816, 336], "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{ \"analyses\": [{ \"id\": 1, \"theme\": \"AI agents\", \"demand_score\": 8, \"gap_score\": 6, \"summary\": \"one-line summary\" }] }" } },
    { "id": "c7", "name": "Expand Analyses", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 112], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const out=$input.first().json.output||{};\nconst a=Array.isArray(out.analyses)?out.analyses:[];\nreturn a.map(x=>({ json: { item_id:x.id, theme:x.theme||'', demand_score:x.demand_score||0, gap_score:x.gap_score||0, summary:x.summary||'' } }));" } },
    { "id": "c8", "name": "Save Analysis", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1248, 112], "parameters": { "operation": "insert", "schema": { "__rl": true, "mode": "name", "value": "public" }, "table": { "__rl": true, "mode": "name", "value": "item_analysis" }, "columns": { "mappingMode": "autoMapInputData", "value": null, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "c9", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-560, -160], "parameters": { "color": 3, "width": 480, "height": 440, "content": "## Score and tag your content backlog with an LLM\n\n**Who's it for**\nContent teams who collect articles/ideas in a database and want them themed and prioritised.\n\n**How it works**\nWeekly, reads un-analysed rows from Postgres content_items, an LLM assigns theme + demand + gap + summary, and results are upserted into item_analysis.\n\n**How to set up**\n1. Add Postgres + OpenRouter credentials.\n2. Create content_items (id, source, title, body, analysed_at) and item_analysis (item_id, theme, demand_score, gap_score, summary).\n\n**Requirements**\n- Postgres and an OpenRouter account.\n\n**How to customize**\n- Edit the rubric in Enrich & Score; swap the model." } },
    { "id": "c10", "name": "Step note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-40, -170], "parameters": { "color": 7, "width": 940, "height": 90, "content": "### Pipeline\nFetch Unanalysed Items → Collect Batch → Enrich & Score (LLM) → Expand Analyses → Save Analysis." } }
  ],
  "connections": {
    "Weekly": { "main": [[{ "node": "Fetch Unanalysed Items", "type": "main", "index": 0 }]] },
    "Fetch Unanalysed Items": { "main": [[{ "node": "Collect Batch", "type": "main", "index": 0 }]] },
    "Collect Batch": { "main": [[{ "node": "Enrich & Score", "type": "main", "index": 0 }]] },
    "Enrich & Score": { "main": [[{ "node": "Expand Analyses", "type": "main", "index": 0 }]] },
    "LLM via OpenRouter": { "ai_languageModel": [[{ "node": "Enrich & Score", "type": "ai_languageModel", "index": 0 }]] },
    "Analysis Parser": { "ai_outputParser": [[{ "node": "Enrich & Score", "type": "ai_outputParser", "index": 0 }]] },
    "Expand Analyses": { "main": [[{ "node": "Save Analysis", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
