templates/workflows/04-production-error-handler.json
{
  "name": "Production Error Handler",
  "nodes": [
    { "id": "e1", "name": "On Workflow Error", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [0, 96], "parameters": {} },
    { "id": "e2", "name": "Format & Classify", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 96], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const OWNER='your-github-org', REPO='your-repo';\nconst j=$input.first().json||{};\nconst wf=(j.workflow&&j.workflow.name)||'Unknown workflow';\nconst exec=j.execution||{};\nconst node=exec.lastNodeExecuted||'unknown node';\nconst msg=(exec.error&&exec.error.message)||j.message||'No error message';\nconst low=msg.toLowerCase();\nlet category='unknown',owner='needs-triage';\nif(/forbidden|unauthor|credential|401|403/.test(low)){category='auth';owner='needs-human';}\nelse if(/rate.?limit|429/.test(low)){category='rate-limit';owner='agent';}\nelse if(/timeout|econn|socket|503|502/.test(low)){category='transient';owner='auto-retry';}\nelse if(/not found|404/.test(low)){category='not-found';owner='agent';}\nelse if(/invalid|parse|schema/.test(low)){category='data/config';owner='agent';}\nconst issueTitle='Pipeline failure: '+wf;\nconst body='**Workflow:** '+wf+'\\n**Node:** '+node+'\\n**Category:** '+category+' | **Owner:** '+owner+'\\n**Error:** '+msg;\nconst discord='**'+wf+'** failed at *'+node+'* — '+category+' ('+owner+')\\n'+msg;\nreturn [{ json: { owner:OWNER, repo:REPO, wf, node, msg, category, remediationOwner:owner, issueTitle, body, discord } }];" } },
    { "id": "e3", "name": "Discord Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [448, 0], "parameters": { "method": "POST", "url": "https://discord.com/api/webhooks/REPLACE_WITH_YOUR_WEBHOOK", "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ { \"content\": $json.discord } }}", "options": {} } },
    { "id": "e4", "name": "List Open Pipeline Issues", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [448, 192], "parameters": { "method": "GET", "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues?state=open&labels=pipeline-error&per_page=100", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "User-Agent", "value": "n8n-error-handler" }, { "name": "Accept", "value": "application/vnd.github+json" }] }, "options": { "response": { "response": { "responseFormat": "json" } } } } },
    { "id": "e5", "name": "Dedup Decision", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 192], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const issues=$json.body||$json||[];\nconst list=Array.isArray(issues)?issues:(issues.data||[]);\nconst ctx=$('Format & Classify').first().json;\nconst match=list.find(i=>i&&i.title===ctx.issueTitle);\nreturn [{ json: Object.assign({}, ctx, { existingNumber: match?match.number:null, hasExisting: !!match }) }];" } },
    { "id": "e6", "name": "Issue Exists?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [896, 192], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "leftValue": "={{ $json.hasExisting }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" } } },
    { "id": "e7", "name": "Comment on Issue", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1120, 96], "parameters": { "method": "POST", "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.existingNumber }}/comments", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "User-Agent", "value": "n8n-error-handler" }, { "name": "Accept", "value": "application/vnd.github+json" }] }, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ { \"body\": \"Recurred.\\n\\n\" + $json.body } }}", "options": {} } },
    { "id": "e8", "name": "Create Issue", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1120, 288], "parameters": { "method": "POST", "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues", "authentication": "genericCredentialType", "genericAuthType": "httpBearerAuth", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "User-Agent", "value": "n8n-error-handler" }, { "name": "Accept", "value": "application/vnd.github+json" }] }, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ { \"title\": $json.issueTitle, \"body\": $json.body, \"labels\": [\"pipeline-error\", $json.remediationOwner] } }}", "options": {} } },
    { "id": "e9", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-560, -200], "parameters": { "color": 3, "width": 500, "height": 480, "content": "## Central error handler: alert, classify, deduped GitHub issues\n\n**Who's it for**\nAnyone running n8n workflows in production who wants one place to catch every failure.\n\n**How it works**\nSet this as the Error Workflow on your workflows. On any failure it classifies the error by remediation owner, posts a Discord alert, and opens ONE deduplicated GitHub issue per failing workflow (comments on recurrence).\n\n**How to set up**\n1. Set GitHub OWNER/REPO in Format & Classify.\n2. Replace the Discord webhook URL.\n3. Add a GitHub token (Bearer) credential to the GitHub nodes.\n4. On each workflow: Settings → Error Workflow → select this.\n\n**Requirements**\n- A GitHub repo + token, and a Discord webhook.\n\n**How to customize**\n- Edit the classification rules; change labels or alert format." } },
    { "id": "e10", "name": "Step note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-40, -210], "parameters": { "color": 7, "width": 980, "height": 100, "content": "### Flow\nOn Workflow Error → Format & Classify → (Discord Alert) and (List Open Issues → Dedup → Issue Exists? → comment or create)." } }
  ],
  "connections": {
    "On Workflow Error": { "main": [[{ "node": "Format & Classify", "type": "main", "index": 0 }]] },
    "Format & Classify": { "main": [[{ "node": "Discord Alert", "type": "main", "index": 0 }, { "node": "List Open Pipeline Issues", "type": "main", "index": 0 }]] },
    "List Open Pipeline Issues": { "main": [[{ "node": "Dedup Decision", "type": "main", "index": 0 }]] },
    "Dedup Decision": { "main": [[{ "node": "Issue Exists?", "type": "main", "index": 0 }]] },
    "Issue Exists?": { "main": [[{ "node": "Comment on Issue", "type": "main", "index": 0 }], [{ "node": "Create Issue", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
